/* Только анимация появления для hero-заголовка, текста и кнопки */

.hero-title,
.hero-text,
.hero-button {
  opacity: 0;
  transform: translateY(40px);
  transition: opacity 0.7s cubic-bezier(0.44, 0.14, 0.34, 1.23),
    transform 0.7s cubic-bezier(0.44, 0.14, 0.34, 1.23);
}

.hero-title.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.12s;
}
.hero-text.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.34s;
}
.hero-button.visible {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.2s;
}
