.hero-title,
.hero-text,
.hero-button {
  opacity: 0;
  transform: translateY(40px);
  animation-fill-mode: both;
}

.hero.show .hero-title {
  animation: hero-fade-in 0.7s cubic-bezier(0.44, 0.14, 0.34, 1.23) 0.05s
    forwards;
}
.hero.show .hero-text {
  animation: hero-fade-in 0.7s cubic-bezier(0.44, 0.14, 0.34, 1.23) 0.22s
    forwards;
}
.hero.show .hero-button {
  animation: hero-fade-in 0.7s cubic-bezier(0.44, 0.14, 0.34, 1.23) 0.35s
    forwards;
}

@keyframes hero-fade-in {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
