/* font-family: var(--second-family)
  --font-family: 'Quicksand',
  sans-serif;
  --second-family: 'Aboreto',
  sans-serif; */
.loading-container {
padding-top: 64px;
padding-bottom: 64px;

}


.location-dir {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    margin-bottom: 16px;
}

.location-header {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #0b0803;
    margin-bottom: 24px;
}

.location-text {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #0b0803;
    margin-bottom: 40px;
}

.location-contacts {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}

.location-contacts-item {

}

.location-item-icon {
    margin-bottom: 16px;
}

.location-contacts-header {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 20px;
    line-height: 1.4;
    letter-spacing: -0.01em;
    color: #0b0803;
    margin-bottom: 8px;
}

.location-contacts-link {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #0b0803;
}

.location-address {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
    margin-bottom: 16px;
}

.location-get-directions-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    margin-bottom: 32px;
}

.location-get-directions-text {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #0b0803;
}


.map-container {
    display: block;
    overflow: hidden;
    width: 288px;
    height: 307px;
    border-radius: 40px;
    transform: translateZ(0px);
}

